{% extends 'admin/base.html' %}

{% block content %}
    <div>
        Both the start date and the end date are inclusive. Please use 2021-01-01 as a minimum start date (no data about pool servers before that) and yesterday as a maximum end date (not all blocks have been mined so far).
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}

                <!-- <input type="date" id="start">
                <input type="date" id="end"> -->
                <button type="submit">Start calculations!</button>
        </form>
    </div>
    <br />

{% endblock %}